*{
    padding: 0px;
    margin: 10px;
}

body{
    font-family: 'Arial';
    font-size: 25px;
}

div{
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}

img{
    width: 150px;
    height: 150px;
}
